@media screen and (max-width:320px){

.card-father{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card {
    background-color: beige;
    width: 124px;
    height: auto;
    justify-content: space-between;
}
.card-img-top{
    width: 110px;
    height: 110px;
    align-items: center;
    margin: none;
    padding: none;
   
}
.card-body h5{
    font-size: $size-320-prim ;
}
.card-body p{
    font-size: $size-320-sec;
}
.btn{
    font-size: $size-320-sec;
}
}
@media screen and (min-width:768px)and (max-width:1024px) {
    .card { 
        width: 210px;
        height: auto;
    }

    .card-img-top{
        width: 200px;
        height: 200px;
        margin: none;
        padding: none;

    }
    .card-body h5{
        font-size: $size-768-prim ;
    }
    .card-body p{
        font-size: $size-768-sec;
    }
    .btn{
        font-size: $size-768-sec;
    }
}

@media screen and (min-width:1024px) and (max-width:1024px) {

    .card { 
        width: 300px;
        height: auto;
    }

    .card-img-top{
        width: 290px;
        height: 290px;
        margin: none;
        padding: none;

    }
    .card-body h5{
        font-size: $size-1024-prim ;
    }
    .card-body p{
        font-size: $size-1024-sec;
    }
    .btn{
        font-size: $size-1024-sec;
    }

}